<form action="https://app.rule.io/subscriber-form/subscriber" id="rule-optin-form" method="POST">
  <input name="tags[]" type="hidden" value="76713" />
  <input name="token" type="hidden" value="c812c1ff-2a5a0fe-efad139-d754416-71e1e60-2ce" />
  <label>Email Address</label>
  <input name="rule_email" placeholder="Email Address" required="required" type="email" />
  <label>Instagram Handle</label>
  <input name="fields[Raffle.Instagram Handle]" placeholder="Instagram Handle" required="required" type="text" />
  <label>Phone number</label>
  <input name="fields[Raffle.Phone Number]" placeholder="Phone number" required="required" type="text" />
  <label>First Name</label>
  <input name="fields[Raffle.First Name]" placeholder="First Name" required="required" type="text" />
  <label>Last Name</label>
  <input name="fields[Raffle.Last Name]" placeholder="Last Name" required="required" type="text" />
  <label>Shipping Address</label>
  <input name="fields[Raffle.Shipping Address]" placeholder="Shipping Address" required="required" type="text" />
  <label>Postal Code</label>
  <input name="fields[Raffle.Postal Code]" placeholder="Postal Code" required="required" type="text" />
  <label>City</label> <input name="fields[Raffle.City]" placeholder="City" required="required" type="text" />
  <label>Country</label>
  <select id="cars" name="fields[Raffle.Country]" required="required">
    <option value="AL">Albania</option>
    <option value="AT">Austria</option>
    <option value="BY">Belarus</option>
    <option value="BE">Belgium</option>
    <option value="BG">Bulgaria</option>
    <option value="HR">Croatia</option>
    <option value="CY">Cyprus</option>
    <option value="CZ">Czech Republic</option>
    <option value="DK">Denmark</option>
    <option value="EE">Estonia</option>
    <option value="FO">Faroe Islands</option>
    <option value="FI">Finland</option>
    <option value="FR">France</option>
    <option value="DE">Germany</option>
    <option value="GR">Greece</option>
    <option value="GL">Greenland</option>
    <option value="GG">Guernsey</option>
    <option value="HU">Hungary</option>
    <option value="IS">Iceland</option>
    <option value="IE">Ireland</option>
    <option value="IM">Isle of Man</option>
    <option value="IT">Italy</option>
    <option value="LV">Latvia</option>
    <option value="LT">Lithuania</option>
    <option value="LU">Luxembourg</option>
    <option value="MT">Malta</option>
    <option value="MC">Monaco</option>
    <option value="NL">Netherlands</option>
    <option value="NO">Norway</option>
    <option value="PL">Poland</option>
    <option value="PT">Portugal</option>
    <option value="RO">Romania</option>
    <option value="RU">Russia</option>
    <option value="SM">San Marino</option>
    <option value="SK">Slovakia</option>
    <option value="SI">Slovenia</option>
    <option value="ES">Spain</option>
    <option value="SE">Sweden</option>
    <option value="CH">Switzerland</option>
    <option value="TR">Turkey</option>
    <option value="UA">Ukraine</option>
    <option value="AE">United Arab Emirates</option>
    <option value="GB">United Kingdom</option>
  </select><br />
  <label>Signup Newsletter</label>
  <input name="fields[Raffle.Signup Newsletter]" placeholder="Signup Newsletter" required="required" type="checkbox" />
  <input id="rule1" name="fields[SignupSource.ip]" type="hidden" value="192.0.0.1" />
  <input id="rule2" name="fields[SignupSource.useragent]" type="hidden" value="Mozilla" />
  <label class="rulemailer-email-check">Are you machine?</label>
  <input autocomplete="off" class="rulemailer-email-check" name="email_field" tabindex="-1" type="checkbox" value="1" />
  <input name="language" type="hidden" value="sv" />
  <button class="g-recaptcha" data-callback="submitRuleOptin" data-sitekey="6LfbPnAUAAAAACqfb_YCtJi7RY0WkK-1T4b9cUO8">Sign up!</button>
</form>
